<section>
  <mat-card class="main-card">
    <h1>Register</h1>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Mobile</mat-label>
      <input matInput placeholder="Enter Mobile no.">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>email</mat-label>
      <input matInput placeholder="Enter email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Qualification</mat-label>
      <input matInput placeholder="Enter email">
    </mat-form-field>

  </mat-card>
</section>
